<div class="row">
	<div class="large-10 large-centered columns">
		<h2>Výsledek hledání</h2>
		<h3><%= @status_main %></h3>
		<h3>Status: <%= @company_status %></h3> 
		<h3>IČ: <%= @company_ico %></h3>
		<h3>Datum založení: <%= @company_datum %></h3>
		<h3>Název: <%= @company_name %></h3>
		<h3>Pravní forma: <%= @company_type %></h3>
		<h3>Předmět podnikání:</h3>
		<ul id="seznam">	
			<% @company_business.each do |cb| %>
			<li><%= cb.text %></li>	
		<% end %>
		</ul>
		<h1><%= link_to 'nové hledání', new_company_path  %></h1>
	</div>
</div>